[package]
name = "cli_md2pdf"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
anyhow = "1.0"
walkdir = "2.5"
colored = "2.1"  # optional: pretty output
glob = "0.3"
